.formRow {
  input {
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin: 10px auto;
    font-size: 1.1rem;
    line-height: 1;
    border: 1px solid #9e9e9e;
    outline: none;
    text-align: left;
  }
}
