.header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  height: 4rem;

  .wrap {
    max-width: 1450px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;

    .logo {
      width: 13rem;
      position: absolute;
      top: 50%;
      left: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }

    nav {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;

      ul,
      ul li {
        margin: 0;
        padding: 0;
        height: 100%;
      }

      ul {
        text-align: center;

        li {
          display: inline-block;
          list-style: none;
          margin: 0 1rem;

          a {
            font-size: 16px;
            line-height: 4rem;
            color: #000;
            text-decoration: none;
            text-transform: capitalize;
            cursor: pointer;
          }
        }
      }
    }

    .callToActions {
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%); // vertical center the items

      ul,
      li {
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        margin-right: 1.5rem;
        list-style: none;

        &:last-child {
          margin-right: 0;
        }

        a,
        span {
          font-size: 16px;
          line-height: 1;
          color: #000;
          text-decoration: none;
          text-transform: capitalize;
          cursor: pointer;
        }
      }
    }
  }
}

.checkOutModal {
  width: 70vw !important;
  max-width: 70vw !important;
  height: 60vh !important;
  min-height: 60vh !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // height: unquote("calc(100vh - 20px)");
  // 20px offset for the 10px margin on either side

  .modal-content {
    width: 100%;
  }
}
